<% action_url = cat.persisted? ? cat_url(cat): cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update Cat!" : "Create Cat!" %>


<div id="name">
  <form id="form_id" action= "<%= action_url %>" method= "POST">
    <input type="hidden" name="_method" value="<%= form_method %>">

    <label for="cat_name">Name</label>
    <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
    <br>

    <label for="cat_sex">Sex</label>
    <br>
    <input type="radio" name="cat[sex]" id="cat_sex" value="Male" <%= "checked" if @cat.sex == "Male" %>>Male
    <br>
    <input type="radio" name="cat[sex]" id="cat_sex" value="Female" <%= "checked" if @cat.sex == "Female" %>>Female
    <br>
    <br>

    <label for="cat_color">Color</label>
    <input type="text" name="cat[color]" id="cat_color" value="<%= @cat.color %>">
    <br>

    <label for="cat_birth_date">Birth Date</label>
    <input type="text" name="cat[birth_date]" id="cat_birth_date" value="<%= @cat.birth_date %>">
    <br>

    <label for="cat_description">Description</label>
    <textarea name="cat[description]" id="cat_description" value="<%= @cat.description %>">enter description</textarea>
    <br>

    <input type="submit" value="<%= submit_text %>">
  </form>

</div>
