<h1>Cats</h1>
<div class="panel panel-default" id="cat_table">
  <table class="table">
    <tr>
      <th>Name<th>
      <th>Color<th>
      <th>Sex<th>
      <th>Description<th>
      <th>Age<th>
    </tr>
    <% @cats.each do |cat| %>
      <tr>
        <td><a href="<%= cat_url(cat) %>"><%= cat.name %></a><td>
        <td><%= cat.color %><td>
        <td><%= cat.sex %><td>
        <td><%= cat.description %><td>
        <td><%= cat.age %><td>
      </tr>
    <% end %>
  </table class="table">
</div>

<div class="create_cat">
  <a href="<%= new_cat_url %>" class="btn btn-primary btn-lg btn-block">Create New Cat</a>
</div>
