<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="<%= cats_url %>">Cats</a></li>
      <li><a href="<%= new_cat_url %>">Create Cat</a></li>
      <li><a href="<%= new_cat_rental_request_url %>">Create request</a></li>
      <li><a href="<%= new_user_url %>">Create User</a></li>
      <li><a href="<%= users_url %>">Users</a></li>
      <li><a href="<%= current_user ? user_url(current_user) : new_session_url %>">
        <%= current_user ? current_user.user_name : "Login" %></a></li>
      <li><a href="<%= session_url if current_user %>" data-method="delete">
        <%= "Logout" if current_user %></a></li>
    </li>
    </ul>
  </div>
</nav>
